* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(12, 0, 42);
  color: rgb(226, 226, 226);
}
h1 {
  text-align: center;
  margin: 1rem;
  font-size: 2rem;
}
.instruction {
  padding: 1rem;
  text-align: center;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.wrapper input {
  padding: 0.5rem;
  outline: none;
  font-size: 1.1rem;
}
.wrapper input::placeholder {
  font-size: 1.1rem;
  font-weight: 400;
  color: rgb(12, 0, 42);
  text-align: center;
}
.wrapper button {
  margin: 1rem;
  padding: 0.5rem;
}
.wrapper button:hover {
  font-weight: 600;
}
main {
  padding: 1rem;
}

.container4 {
  width: 100%;
}
img {
  width: 90%;
}
